:root {
    --bg: #121212;
    --cl: #f0f0f0;
}
.l {
    --bg: #f0f0f0;
    --cl: #121212;
}

* {
    transition: 300ms;
    color: var(--cl);
    border-color: var(--cl);
}

body {
    background-color: var(--bg);
    display: block;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
}
::-webkit-scrollbar-thumb {
    background: var(--cl);
    border: 2px solid var(--bg);
    border-radius: 10px;
}

.navbar {
    background-color: var(--bg);
    position: sticky;
    top: 0%;
    left: 0%;
    width: calc(100% - 30px);
    height: 50px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    gap: 15px;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    justify-content: space-between;
    .heading {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        gap: 10px;
        background-color: var(--bg);
        z-index: 1;
        filter: drop-shadow(20px 0px 5px var(--bg));
        -webkit-filter: drop-shadow(20px 0px 5px var(--bg));
        img {
            width: 35px;
        }
    }
    .links {
        position: fixed;
        left: 50%;
        translate: -50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        a {
            opacity: 0.6;
            transition: 300ms;
        }
        a:before {
            content: '';
            position: fixed;
            width: 0%;
            height: 1px;
            left: 0%;
            top: calc(100% + 2px);
            background-color: var(--cl);
            transition: 150ms;
            z-index: -1;
        }
        a:hover {
            opacity: 1;
            filter: drop-shadow(0px 0px 2px);
            -webkit-filter: drop-shadow(0px 0px 2px);
            transition: 150ms;
        }
        a:hover:before {
            width: 100%;
            left: 0%;
        }
        a#ext {
            padding-right: 7px;
        }
        a#ext:after {
            content: '↗';
            position: fixed;
            top: 0%;
            font-family: 'Rubik';
            font-weight: 100;
            font-size: 10px;
            translate: 2px -20%;
            opacity: 0.5
        }
    }
    .buttons {
        
    }
}
.navbar.scroll {
    filter: invert();
    -webkit-filter: invert();
    border-block-width: 0px;
    border-bottom-right-radius: 5px;
    .heading img {
        filter: invert();
        -webkit-filter: invert();
    }
    .links a:hover {
        filter: hue-rotate(1deg);
        -webkit-filter: hue-rotate(1deg);
    }
}
.navbar.scroll, .l .navbar {
    .links {
        a#ext:after {
            opacity: 1
        }
    }
    .links a:hover {
        filter: hue-rotate(1deg);
        -webkit-filter: hue-rotate(1deg);
    }
}